.env
.idea
bin
.git
.DS_Store
.vscode

.deploy
!.deploy/registry_credentials_values.yaml
!.deploy/elasticsearch_credentials_values.yaml
!.deploy/ingress_values.yaml
coverage.out
vendor
tmp
.netrc
swagger

.ops/helm/service/charts
.ops/helm/service/values.yaml
requirements.lock